.div-main {
  background-color: #e2d6dd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.div-jogador1,
.div-jogador2,
.div-desafio {
  background-color: rgb(226, 220, 226);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 30%;
  max-width: 300px;
}

.div-doses {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-doses p {
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
}

.div-doses button {
  background-color: #FEB7E1;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.button-sort {
  background-color: #FEB7E1;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}
